# Ignorar configurações e extensões do VSCode remoto
.vscode-server/

# Ignorar ficheiros temporários e cache
*.log
*.tmp

# Ignorar diretórios do sistema
.DS_Store
Thumbs.db

# Ignorar pastas de build (exemplo de projetos C/C++ ou Python)
build/
dist/
__pycache__/
# Ignorar ficheiros de ambiente (ex: chaves API)
.env
.venv/