<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanPeriod="3 seconds">

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{32} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>logFile.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>logFile.%d{yyyy-MM-dd_HH-mm}.log.zip</FileNamePattern>
		</rollingPolicy>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{HH:mm:ss,SSS} [%thread] %-5level %logger{32} - %msg%n</pattern>
		</encoder>
	</appender>

	<!-- Root logger: only show ERROR -->
	<root level="ERROR">
		<appender-ref ref="STDOUT"/>
	</root>

	<!-- Silence all project logs -->
	<logger name="eapli.shodrone" level="OFF" additivity="false"/>
	<logger name="eapli.framework" level="OFF" additivity="false"/>

	<!-- Silence Hibernate logs completely -->
	<logger name="org.hibernate" level="OFF"/>
	<logger name="org.hibernate.SQL" level="OFF"/>
	<logger name="org.hibernate.type" level="OFF"/>
	<logger name="org.hibernate.util.DTDEntityResolver" level="OFF"/>
	<logger name="org.hibernate.orm.deprecation" level="OFF"/>

</configuration>
